.friendContainer {
	display: grid;
	grid-template: 1fr / minmax(auto, 100px) minmax(auto, 200px)  ;
	align-items: center;
	gap: 10px;
	overflow: hidden;
}


.friendImgContainer {
	padding-left: 10px;
	position: relative;
	padding-bottom: 100%;
	border-radius: 50%;
	overflow: hidden;
}

.friendImgContainer img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.FriendName {
	justify-self: start;
	font-weight: 600;
	font-size: 1.8rem;
}