.content {
	padding: 2rem;
}

.title {
	padding: 0;
	margin: 0;
}

.profile__discription {
	display: grid;
	grid-template-columns: minmax(auto, 200px) 1fr;
	grid-template-rows: 50px 1fr;
	column-gap: 5rem;
}

.profile__avatar {
	grid-area: 2/1/2/1;
	position: relative;
	overflow: hidden;
}

.profile__avatar img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: contain;
}

.boldSpan {
	font-weight: 700;
}

.profileAddPotoInputWrapper {
	grid-area: 1/1/1/1;
}

.profile__textContent {
	grid-area: 1/2/3/2;
}